* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center; 
    font-size: 30px;
    border-radius: 4px;
}

body {
    background-color: #ffffff;
}

h1{
    font-size: 50px;
    padding: 45px;  
}

.botao {
    width: 300px;
    padding: 2px;
    background-color: #449af6;
    color: #000000;
}

select {
    margin: auto;
    width: 300px;
    display: block;
    padding: 2px;
    background-color: #449af6;
    color: #000000;
    border: 1px solid;
}

#resposta {
    margin: auto;
    width: 300px;
    padding: 2px;
    border: 1px solid;
    background-color: #ffffff;
}

input {
    width: 300px;
    padding: 3px;
    border: 1px solid;
    background-color: #ffffff;
}

footer a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    align-items: center;
    font-size: 17px;
}
